@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

.App {
  text-align: center;
  background-color: #fff;
}

.App-header, .App-body {
  font-family: 'Shadows Into Light', cursive;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #343434;
}

.Product-img {
  height: 200px;
  width: 200px;
}

.Product-list li{
  padding: 35px;
}

.Filter-list li {
  padding-left: 10px;
  padding-right: 10px;
  border-left: solid 1px #eee;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.App-link:hover {
  color: #0082a7;
}
